openapi: 3.0.0
servers:
  - url: //procstudio.com.br
    description: Produção
  - url: //staging.procstudio.com.br
    description: Ambiente de testes
info:
  description: |
    # Introdução

    Este documento é uma diretriz geral do sistema ProcStudio, para entender a sua ideia geral, conceitos, princípios, para que todos possam entender a dinâmica do aplicativo, sua metodologia, usos gerais, prioridades, urgência, necessidades e implementações atuais e futuras.

    ## Origem do Sistema

    A ideia do sistema surgiu a partir da necessidade prática de evitar trabalhos repetitivos e aprimorar o fluxo de trabalho para o advogado e sua equipe com a ideia central de geração de documentos de forma automatizada.

    O documento mais utilizado em um escritório é a Procuração. Este é o documento que permite a atuação do advogado em favor do seu cliente, daí no nome ProcStudio. Outros documentos muito utilizados são: Contrato de Honorários, Termo de Renúncia do Juizado Especial de Pequenas Causas e Declaração de Carência.

    Esses são os documentos básicos que estão no sistema. O objetivo é implementar todos esses documentos de acordo com as particularidades de cada área de atuação do direito e no futuro implementar outros documentos mais avançados que permitirão ao advogado uma facilidade extra no fluxo do seu trabalho.

    Apesar da ideia inicial fosse o fluxo de documentação, logo no início percebemos que a geração de documentos de forma autônoma seria inviável, uma vez que precisaríamos de cadastros, banco de dados e uma série de requisitos para gerar os documentos, o que trouxe também o acompanhamento de tarefas para o escritório.

    ## Objetivo

    Nosso objetivo é criar um sistema dinâmico que possa atender todos esses profissionais do direito em cada área de atuação específica, como se o sistema fosse desenvolvido para cada área de atuação em detalhes específicos. O usuário deve ter um sistema dinâmica, eficiente e inteligente. O sistema deve facilitar a vida do usuário advogado e também dos seus clientes, que serão também usuários do nosso sistema, independente dos caminhos tecnológicos que tenhamos que seguir.

    ## Princípios

    - Princípio do Zero Papel
    - Usuário em Primeiro Lugar
    - Aprendizado com o usuário
    - Mobilidade
    - Integração
    - Customização pelo usuário
    - Atendimento Automatizado

    ## Zero Papel

    Um dos princípios defendidos pelo ProcStudio é a adoção de ZERO papel no escritório do advogado e isso não é tão fácil como parece. É muito mais fácil imprimir uma procuração e entregar para o cliente assinar do que utilizar uma complexo sistema de identificação e assinatura digital, especialmente se ele estiver na sua frente, no seu escritório, conseguiu imaginar a situação?

    Para isso, precisamos criar sistemas de assinatura muito fluídos, para que seja um processo cômodo, seguro, arquivável com segurança e fácil de ser acessado posteriormente tanto pelo nosso usuário advogado como para outros usuários.

    Além da geração de documentos, instituir uma política de zero papel no escritório também é difícil por conta dos documentos físicos existentes, que precisam ser digitalizados e tratados, o que muitas vezes, por comodidade, acaba “ficando no escritório” até durante anos.

    Desta forma, devemos auxiliar nosso usuário também na digitalização de documentos, o que é uma implementação também necessária em um escritório. Devemos adotar tecnologias modernas de digitalização, indexação, arquivamento para facilitar esse objetivo comum.

    ## Usuário e Aprendizado com o Usuário

    Devemos ter noção de que o direito, como um ramo muito extenso, possui particularidades mesmo na geração de pequenos documentos. Um advogado que atua mais na área empresarial por exemplo, utilizará pouco o Termo de Renúncia e a Declaração de Carência, enquanto que, um criminalista também precisará de documentos diferentes.

    Nestas adaptações do sistema para várias áreas, percebemos que alguns clientes, como da área previdenciária utilizam alguns termos específicos, os da área tributária precisam atuar em parceria com um contador, o que trouxe essa figura ao sistema, devemos estar atentos ao que o usuário nos indica.

    ## Persona/Público Alvo

    Nosso foco é entre um advogado iniciante e intermediário, geralmente que trabalha de forma autônoma, com parceiros advogados e/ou contadores, uma secretária e um estagiário ou somente um dos dois.

    Não necessariamente seremos um serviço de nuvem, porém, em certa medida a tendência é que seja necessário uma quantidade grande de armazenamento mesmo em razão da geração dos documentos e seu armazenamento e formas de autenticação e confiabilidade (testagem de documentos).

    Neste sentido, precisamos otimizar os arquivos de PDF de forma fluída, sem necessidade de intervenção do usuário, bem como adicionar leitura de OCR e até em um futuro a geração de cadastros e documentos com base em OCR, o que tem sido facilitado com a carteira de motorista digital e o cadastro Gov.Br.

    ## Mobilidade

    Nossa meta também é a criação de aplicativos móveis capazes de dar o mesmo conforto na geração de documentos, hoje não podemos pensar no desenvolvimento sem pensar também no aspecto de mobilidade.

    O objetivo é que o advogado possa gerar um contrato de forma “Instantânea” onde quer que ele esteja. Está em uma reunião com um cliente? Basta pegar os dados pessoais, digitar, tirar uma foto de dois ou três documentos que o cliente receberá em seu celular uma notificação (geralmente através de e-mail ou whatsapp) para assinar o referido documento.

    ## Integração

    Um dos nossos nortes é também comunicação com outros aplicativos através de API, tornando-se um sistema capaz de adotar os serviços mais conhecidos atualmente como Google Cloud, Microsoft e Dropbox.

    Não queremos reinventar a roda. Por exemplo, seria muito mais fácil fazer a geração dos documentos diretamente em PDF. Existem centenas de ferramentas que fazem isso com base em qualquer tipo de informação, do HTML até bancos de dados mais complexos.

    Mais fácil para nós, porém, melhor para o cliente? Com certeza não, porque o DOCX é um formato universal utilizado há décadas que está enraizado na cultura brasileira. E não podemos ser arrogantes ao ponto de pensar que o documento será gerado de forma tão perfeita que não será necessária uma revisão final, e quem melhor do que o próprio advogado que gera o documento para avaliar e entender se aquele documento está apto a ser assinado por todas as partes?

    ## Customização pelo usuário

    Precisamos de um sistema dinâmico que o usuário possa ajudar a construir e criar por si mesmo, não dependendo tanto de atualizações dos desenvolvedores para adaptação de suas necessidades particulares, o que é possível observar como tendência de grandes aplicativos como Trello, Monday e outros semelhantes.

    Essa ajuda do usuário também será sempre fundamental para melhorias e o crescimento do sistema, temos muito a aprender com advogados espalhados por todo o Brasil.

    ## Baixo Custo Operacional Inicial

    Um dos nossos maiores gargalos iniciais é o atendimento e conforto do usuário. Uma forma de atendê-los de forma personalizada é o ideal, porém, no momento inicial, ainda inviável, de forma que precisamos pensar em soluções de atendimento ao usuário de baixo custo, como a criação de Wikis e ChatBots para tirar as dúvidas mais comuns e entender os pontos de atrito entre o usuário e o sistema.

  version: 1.0.0
  title: API Procstudio
  termsOfService: http://www.procstudio.com.br/terms/
  contact:
    name: API Support
    email: support@procstudio.com.br
    url: https://github.com/Jemisson/prc4_v2.git
  x-logo:
    url: 'https://procstudio.com.br/assets/logo_colorido_500-0bc2251933f19b9f3eb14674a96c88a7b9676f00a417306b0f197d1f0088d633.png'
    altText: Procstudio logo
tags:
  - name: Novo
    description: Endpoint que busca e lista dados
  - name: Clientes
    description: Busca e exibe uma listagem de clientes
x-tagGroups:
  - name: Acesso
    tags:
      - Novo
  - name: Ações
    tags:
      - Clientes
      - Escritórios
      - Tarefas
      - Trabalhos
paths:
  /api/v1/auth/login:
    post:
      tags:
        - Novo
      summary: Autenticação do usuário Admin
      description: Autenticação com e-mail e senha
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Autenticado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwt_token:
                    type: string
        '401':
          description: Não autorizado

  /api/v1/profile_customers:
    get:
      tags:
        - Clientes
      summary: Listagem geral de clientes
      description: Listagem de clientes para exibição na tela inicial (index) do clientes.
      responses:
        '200':
          description: Lista com todos os usuários ativos cadastrados no sistema
          content:
            application/json:
              example:
                data:
                  - id: "4"
                    type: profile_customer
                    attributes:
                      customer_type: physical_person
                      name: Deneval Caldas
                      last_name: Ramalho
                      cpf: "13930641812"
                      cnpj: ""
                      default_phone: '45965321452'
                      default_email: 'email@example.com.br'
                      city: 'Curitiba'
                  - id: "5"
                    type: profile_customer
                    attributes:
                      customer_type: physical_person
                      name: Fabrícia Datena
                      last_name: Barata
                      cpf: "29350522945"
                      cnpj: ""
                      default_phone: '45965321452'
                      default_email: 'email@example.com.br'
                      city: 'Curitiba'
                meta:
                  total_count: 9
        '404':
          description: Not found
        '401':
          description: Unauthorized
    post:
      tags:
        - Clientes
      summary: Criar um novo cliente
      description: Criação de um novo cliente no sistema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_customer:
                  $ref: "#/components/schemas/ProfileCustomerInput"
      responses:
        '201':
          description: Cliente criado com sucesso.
        '401':
          description: Unauthorized

  /api/v1/jobs:
    get:
      tags:
        - Tarefas
      summary: Listagem geral de tarefas
      description: Listagem de tarefas para exibição na tela inicial (index) de tarefas.
      responses:
        '200':
          description: Retorna com sucesso uma lista de tarefas
          content:
            application/json:
              example:
                data:
                  - id: "1"
                    type: job
                    attributes:
                      description: "This is a new Job #2"
                      deadline: "1990-11-18"
                      status: pending
                      priority: low
                      comment: >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse consectetur dapibus molestie. Quisque porta
                        tellus nec velit rhoncus pulvinar.Proin convallis, lacus
                        ut ultrices pulvinar.
                      customer: "Karla Barroso Pimenta"
                      responsible: "Administrador padrão"
                      work_number: 15478
                meta:
                  total_count: 1
        '404':
          description: Not found
        '401':
          description: Unauthorized

  /api/v1/works:
    get:
      tags:
        - Trabalhos
      summary: Listagem geral de trabalhos
      description: Listagem de trabalhos para exibição na tela inicial (index) de trabalhos.
      responses:
        '200':
          description: Retorna com sucesso uma lista de trablahos
          content:
            application/json:
              example:
                data:
                  - id: "1"
                    type: work
                    attributes:
                      procedure: administrative
                      subject: administrative_subject
                      number: 15478
                      civil_area: family
                      social_security_areas: retirement_by_time
                      laborite_areas: labor_claim
                      other_description: escrevendo aqui
                      tributary_areas: license
                      profile_customers:
                        - id: 1
                          customer_type: physical_person
                          name: Karla Barroso
                          last_name: Pimenta
                          gender: female
                          rg: "474484"
                          cpf: "24047946824"
                          cnpj: ""
                          nationality: brazilian
                          civil_status: widower
                          capacity: unable
                          profession: Global Representante de Governamental
                          company: Ordonhes, da Bandeira e da Fronteira
                          birth: "1984-07-02"
                          mother_name: Lara da Penha Mangueira
                          number_benefit: ""
                          status: 0
                          document: null
                          nit: ylykjl
                          inss_password: jpcjstwi
                          invalid_person: null
                          customer_id: 1
                          created_at: "2023-08-03T14:55:27.378-03:00"
                          updated_at: "2023-08-04T12:49:20.641-03:00"
                      folder: /madara
                      initial_atendee: xica@gmail.com
                      note: note is fun
                      extra_pending_document: Não trouxe a caneta
                      powers: []
                      jobs:
                        - id: 1
                          description: This is a new Job #2
                          deadline: "1990-11-18"
                          status: pending
                          priority: low
                          comment: >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse consectetur dapibus molestie. Quisque porta
                            tellus nec velit rhoncus pulvinar. Nunc sed erat a ante
                            congue efficitur non et orci. Integer elit tellus,
                            posuere nec eros a, tristique egestas nibh. Quisque
                            feugiat lacus sit amet cursus convallis. Proin
                            convallis, lacus ut ultrices pulvinar.
                          created_at: "2023-08-04T14:25:16.073-03:00"
                          updated_at: "2023-08-04T14:25:16.073-03:00"
                          profile_admin_id: 1
                          work_id: 1
                          profile_customer_id: 1
                      offices:
                        - id: 1
                          name: da Barra, Fontes e Rodrigues
                          cnpj: "39783053000757"
                          oab: "28282"
                          society: company
                          foundation: "2023-07-30"
                          site: erdman.test
                          cep: "65035"
                          street: Viela Gael
                          number: 30527
                          neighborhood: University Court
                          city: Rancho Alegre d'Oeste
                          state: MS
                          office_type_id: 1
                          created_at: "2023-08-03T14:54:38.342-03:00"
                          updated_at: "2023-08-03T14:54:38.342-03:00"
                  # ... more works ...
                meta:
                  total_count: 4
        '404':
          description: Not found
        '401':
          description: Unauthorized

  /api/v1/offices/{office_id}:
    get:
      tags:
        - Escritórios
      summary: Exibição geral de um escritório
      description: Exibição de todos os dados de um escritório.
      responses:
        '200':
          description: Retorna com sucesso os dados
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: office
                  attributes:
                    name: da Barra, Fontes e Rodrigues
                    cnpj: "39783053000757"
                    oab: "28282"
                    society: company
                    foundation: "2023-07-30"
                    site: erdman.test
                    cep: "65035"
                    street: Viela Gael
                    number: 30527
                    neighborhood: University Court
                    city: Rancho Alegre d'Oeste
                    state: MS
                    office_type_id: 1
        '404':
          description: Not found
        '401':
          description: Unauthorized

  /api/v1/profile_customers/{profile_customer_id}:
    get:
      tags:
        - Clientes
      summary: Exibição geral de um cliente
      description: Exibição de todos os dados de um cliente.
      responses:
        '200':
          description: Successful response with profile customer details
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: profile_customer
                  attributes:
                    customer_id: 1
                    customer_type: physical_person
                    name: Karla Barroso
                    last_name: Pimenta
                    cpf: "24047946824"
                    cnpj: ""
                    emails:
                      - id: 1
                        email: bh_customer@procstudio.com
                        created_at: "2023-08-03T15:02:38.858-03:00"
                        updated_at: "2023-08-03T15:02:38.858-03:00"
                      - id: 2
                        email: bh_customer@procstudio.com
                        created_at: "2023-08-04T12:49:20.651-03:00"
                        updated_at: "2023-08-04T12:49:20.651-03:00"
                    status: 0
                    rg: "474484"
                    birth: "1984-07-02"
                    gender: female
                    civil_status: widower
                    nationality: brazilian
                    capacity: unable
                    profession: Global Representante de Governamental
                    company: Ordonhes, da Bandeira e da Fronteira
                    number_benefit: ""
                    nit: ylykjl
                    mother_name: Lara da Penha Mangueira
                    addresses:
                      - id: 1
                        description: Casa
                        zip_code: "7950-000"
                        street: Rua Dois
                        number: 125
                        neighborhood: Centro
                        city: Salvador
                        state: BA
                        created_at: "2023-08-03T15:02:38.846-03:00"
                        updated_at: "2023-08-03T15:02:38.846-03:00"
                      - id: 2
                        description: Casa
                        zip_code: "7950-000"
                        street: Rua Dois
                        number: 125
                        neighborhood: Centro
                        city: Salvador
                        state: BA
                        created_at: "2023-08-04T12:49:20.642-03:00"
                        updated_at: "2023-08-04T12:49:20.642-03:00"
                    phones:
                      - id: 1
                        phone_number: "36965321478"
                        created_at: "2023-08-03T15:02:38.852-03:00"
                        updated_at: "2023-08-03T15:02:38.852-03:00"
                      - id: 2
                        phone_number: "36965321478"
                        created_at: "2023-08-04T12:49:20.647-03:00"
                        updated_at: "2023-08-04T12:49:20.647-03:00"
                    bank_accounts:
                      - id: 1
                        bank_name: Nubank
                        type_account: pagamentos
                        agency: "000001"
                        account: "5615461112"
                        operation: null
                        created_at: "2023-08-08T01:00:00.000-03:00"
                        updated_at: "2023-08-08T01:00:00.000-03:00"
                        pix: "12387945625"
                    default_phone: "36965321478"
                    default_email: bh_customer@procstudio.com
                    city: Salvador
        '404':
          description: Not found
        '401':
          description: Unauthorized
    put:
      tags:
        - Clientes
      summary: Atualizar informações de cliente
      parameters:
        - name: customer_id
          in: path
          required: true
          description: ID do cliente a ser atualizado
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileCustomerUpdateInput"
      responses:
        '200':
          description: Informações do cliente atualizadas com sucesso
        '401':
          description: Unauthorized
        '404':
          description: Cliente não encontrado

  /api/v1/offices:
    post:
      tags:
        - Escritórios
      summary: Cria um novo um escritório
      description: Criação de um novo escritório no sistema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                office:
                  $ref: "#/components/schemas/OfficeInput"
      responses:
        '201':
          description: Escritório criado com sucesso.
        '401':
          description: Unauthorized

  /api/v1/offices/with_lawyers:
    get:
      tags:
        - Escritórios
      summary: Retorna informações sobre escritórios de advocacia com advogados associados.
      description: Listagem de escritório e seus respectivos advigados associados.
      responses:
        '200':
          description: Requisição bem-sucedida. Retorna uma lista de escritórios com advogados.
          content:
            application/json:
              example:
                data:
                  - id: "10"
                    type: office_with_lawyers
                    attributes:
                      name: "Gomes-Braga"
                      lawyers:
                        - id: 1
                          name: "Administrador padrão"
        '401':
          description: Não autorizado.
        '404':
          description: Não encontrado. O recurso solicitado não existe.

components:
  schemas:

    AddressInput:
      type: object
      properties:
        description:
          type: string
          example: Casa
        zip_code:
          type: string
          example: 7950-000
        street:
          type: string
          example: Rua Dois
        number:
          type: integer
          example: 125
        neighborhood:
          type: string
          example: Centro
        city:
          type: string
          example: Salvador
        state:
          type: string
          example: BA

    BankAccountInput:
      type: object
      properties:
        bank_name:
          type: string
          example: Banco do Brasil
        type_account:
          type: string
          example: Conta Corrente
        agency:
          type: string
          example: 1234-5
        account:
          type: string
          example: 12345-6
        operation:
          type: string
          example: 001
        pix:
          type: string
          example: 12378945652

    Client:
      type: object
      properties:
        type:
          type: integer
        name:
          type: string
        lastname:
          type: string
        gender:
          type: integer
        rg:
          type: string
        cpf:
          type: string
        cnpj:
          type: string
        nationality:
          type: string
        civil_status:
          type: integer
        capacity:
          type: integer
        profession:
          type: string
        company:
          type: string
        birth:
          type: string
          format: date
        mother_name:
          type: string
        number_benefit:
          type: string
        status:
          type: integer
        document:
          type: object
        nit:
          type: string
        inss_password:
          type: string
        invalid_person:
          type: integer
        customer:
          type: integer

    EmailInput:
      type: object
      properties:
        email:
          type: string
          format: email
          example: contato@mylawoffice.com.br

    OfficeInput:
      type: object
      properties:
        name:
          type: string
          example: My Law Office
        cnpj:
          type: string
          example: 12345678901234
        oab:
          type: string
          example: 123456
        society:
          type: string
          example: individual
        foundation:
          type: string
          format: date
          example: 2021-01-01
        site:
          type: string
          format: uri
          example: https://mylawoffice.com.br
        cep:
          type: string
          example: 01234567
        street:
          type: string
          example: Rua dos Advogados
        number:
          type: integer
          example: 123
        neighborhood:
          type: string
          example: Bela Vista
        city:
          type: string
          example: São Paulo
        state:
          type: string
          example: SP
        office_type_id:
          type: integer
          example: 1
        profile_admin_id:
          type: integer
          example: 1
        emails_attributes:
          type: array
          items:
            $ref: "#/components/schemas/EmailInput"
        bank_accounts_attributes:
          type: array
          items:
            $ref: "#/components/schemas/BankAccountInput"
        phones_attributes:
          type: array
          items:
            $ref: "#/components/schemas/PhoneInput"

    PhoneInput:
      type: object
      properties:
        phone:
          type: string
          example: 11987654321

    ProfileCustomerInput:
      type: object
      properties:
        customer_type:
          type: string
          example: legal_person
        name:
          type: string
          example: Nalticos X
        gender:
          type: string
          example: male
        customer_id:
          type: integer
          example: 5
        company:
          type: string
          example: Naltispace
        cnpj:
          type: string
          example: 12345678912452
        status:
          type: string
          example: Ativo
        bank_accounts_attributes:
          type: array
          items:
            $ref: "#/components/schemas/BankAccountInput"
        phones_attributes:
          type: array
          items:
            $ref: "#/components/schemas/PhoneInput"
        emails_attributes:
          type: array
          items:
            $ref: "#/components/schemas/EmailInput"

    ProfileCustomerUpdateInput:
      type: object
      properties:
        phones_attributes:
          type: array
          items:
            $ref: "#/components/schemas/PhoneInput"
        emails_attributes:
          type: array
          items:
            $ref: "#/components/schemas/EmailInput"
        addresses_attributes:
          type: array
          items:
            $ref: "#/components/schemas/AddressInput"
